<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/admin.css?version=3.0">
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
<link rel="stylesheet" type="text/css" href="/static/player/styles.css">
</head>
<body>
	<div class="header">
		<div class="navigator-bar">
			<div class="navigator-bar-container">
				<span class="nb-title"><a href="index.html" >Whoami's Blog</a></span>
				    <div class="nb-user-center">
					        <a class="nb-user-btn" href="#"><i class="icon-user icon-large"></i></a>
					        <a class="nb-user-dropdown" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>   
   				 </div>
		   </div>
		</div>
	</div>
	<div class="main">
		<div class="main-container">
				<div class="left-container user-content">
					<div class="user-content-container">
						<div class="user-content-item">
							<div class="user-content-item-title">资料</div>
							<div class="user-content-operation">
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/contact_blue_edit.png"/>编辑资料</a>
							</div>
						</div>
						<div class="user-content-item">
							<div class="user-content-item-title">文章</div>
							<div class="user-content-operation">
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/document_a4_add.png"/>发表文章</a>
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/document_a4_edit.png"/>修改文章</a>
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/document_a4_remove.png"/>删除文章</a>
							</div>
						</div>
						<div class="user-content-item">
							<div class="user-content-item-title">音乐</div>
							<div class="user-content-operation">
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/music_green.png"/>添加音乐</a>
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/music_grey.png"/>删除音乐</a>
							</div>
						</div>
						<div class="user-content-item">
							<div class="user-content-item-title">分享</div>
							<div class="user-content-operation">
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/box_add.png"/>添加分享</a>
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/box_remove.png"/>删除分享</a>
							</div>
						</div>
						<div class="user-content-item">
							<div class="user-content-item-title">读书</div>
							<div class="user-content-operation">
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/folder_modernist_add.png"/>添加读书</a>
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/folder_modernist_remove.png"/>删除读书</a>
							</div>
						</div>
						<div class="user-content-item">
							<div class="user-content-item-title">消息</div>
							<div class="user-content-operation">
								<a class="user-content-operation-item" href="#"><img class="icon" src="/static/image/icon/comments_reply.png"/>评论消息</a>
							</div>
						</div>
						
					</div>
				</div>
				<div class="right-container user-content-view">
					<div class="user-content-view-container">
						<div class="user-header">
							<div class="user-avatar">
								<img src="/static/image/avatar.jpeg"/>
							</div>
							<div class="user-avatar-update-mask" 
							>更换头像
							</div>
							<div class="user-name">Who am i</div>
							<div class="user-sentence">猝然临之而不惊，无故加之而不怒
							</div>	
						</div>
						<div class="user-activity">
							<div class="user-activity-item">
								<div class="user-activity-item-headerline">
									<div class="user-activity-item-headerline-avatar">
										<img src="/static/image/avatar.jpeg"/>
									</div>
									<div class="user-activity-item-headerline-user-name">Who am i</div>
									<div class="user-activity-item-headerline-post-at">2016/03/12</div>
								</div>
								<div class="user-activity-item-content">
									<a class="user-activity-item-content-title">正确的废话</a>
									<div class="user-activity-item-content-main">多‘正确的废话’，那么这本书为啥能让如此多牛逼机构牛逼大神推荐，让心神创业的骚年们不断高潮呢？ 2 条评论 按投票排序 按时间排序 18 个回答 知乎用户，苦逼的产品设计和运营佬 知乎用户、南鹏、Syan 等人赞同 看不懂的是小白，觉得作用不大的还处于给别人打工的状态，感觉通透的都是对趋势有感觉的，觉得内容中讲历史金融哲学多余的都是生意人还不是企业家。 发布于 2015-05-14 2 条评论 感谢 收藏 • 没有帮助 • • 作者保留权利 徐文瑞，计蒜客 / 产品经理 / 天蝎座的 INTJ 李少鹏、西西豆豆、知乎用户 等人赞同 作者都快被捧成神了，他的书会火也是正常的。 前几天读完了这本书，除了一小部分内容有点看不太懂之外，大部分地方还是有所感悟的，不过这个感悟并不是解决了我的什么困惑，而是印证了我的想法。从这种角度来看，说这本书总结了很多</div>
								</div>
								<div class="user-activity-item-operation-list">
									<div class="user-activity-item-operation-view-num user-activity-item-operation">
										<span class="user-operation-icon"><i class="icon-star"></i></span>
										<span class="user-operation-name">访问</span>
									</div>
									<div class="user-activity-item-operation-comment user-activity-item-operation">
										<span class="user-operation-icon">
										<i class="icon-comments"></i>
										</span>
										<span class="user-operation-name">评论</span>
									</div>
									<div class="user-activity-item-operation-edit user-activity-item-operation">
										<span class="user-operation-icon">
										<i class="icon-edit"></i>
										</span>
										<span class="user-operation-name">编辑</span>
									</div>
								</div>
								<div class="user-activity-item-identification">
									<input type="hidden"  name="type_id" value="1"/>
									<input type="hidden"
									name="belong_id" value="1"/>
									<input type="hidden"
									name="uid"  value="1"/>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="clear-fix"></div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/navigator.js"></script>
<script type="text/javascript" src="/static/js/admin.js"></script>
</html>