<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/article.css?version=3.0">
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css">
</head>
<body>
	<div class="header">
		<div class="navigator-bar">
			<div class="navigator-bar-container">
				<span class="nb-title"><a href="index.html" >Whoami's Blog</a></span>
				    <div class="nb-user-center">
					        <a class="nb-user-btn" href="#"><i class="icon-user icon-large"></i></a>
					        <a class="nb-user-dropdown" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
					        
   				 </div>
		   </div>
		</div>
		<div class="navigator-content">
			<div class="navigator-content-container">
				<ul class="category"> 
					<li ><a class="category-item " href="index.html"><i class="icon-home"></i>主页</a></li>	
					<li ><a  class="category-item category-current-item" href="article.html"><i class="icon-book"></i>印记</a></li>
					<li ><a class="category-item" href="list.html"><i class="icon-list-alt"></i>归档</a></li>
					<li ><a class="category-item" href="me.html"><i class="icon-user"></i>关于</a></li>
					<div class='clear-fix'></div>
				</ul>
				
			</div>
		</div>
	</div>
	<div class="main">
		<div class="main-container">

		</div>
	</div>

</body>
<script type="text/javascript" src="/static/js/jquery.min.js">
</script>
<script type="text/javascript" src="/static/js/navigator.js"></script>
<script type="text/javascript" src="/static/js/article-tabs.js"></script>
</html>
