*{
	border:none;
	margin:0;
	list-style-type: none;
	padding:0;
	letter-spacing: 5px;
	text-decoration: none;
}
body{
	min-width: 1000px;
	background: #f5f5f5;
}
a,a:hover,a:link{
	color: #888;
}

.navigator-bar{
	width: 100%;
	height: 46px;
	/*background:-moz-linear-gradient(top,#bebebe 0,#bebebe 30%,#bebebe 70%,#bbb 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bebebe),color-stop(60%,#d2d2d2),color-stop(81%,#d2d2d2),color-stop(100%,#bebebe));
	background:-webkit-linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 81%,#e1e1e1 100%);
	background:-o-linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 81%,#e1e1e1 100%);
	background:-ms-linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 81%,#e1e1e1 100%);
	background:linear-gradient(top,#fff 0,#fefefe 60%,#f2f2f2 81%,#e1e1e1 100%); 
	*/
	background: #5b5b5b;
	box-shadow: 0 0 10px #111;
	min-width: 1000px;
}
.navigator-bar-container{
	padding-top: 6px;
	padding-bottom: 6px;
	height: 34px;
	position: relative;
}
.nb-title{
	position: absolute;
	display: block;
	height: 34px;
	line-height: 34px;
	left: 5%;
	cursor: pointer;	
}
.nb-title a{
	color: white;
	display: block;
	height: 34px;
	line-height: 34px;
	font-size: 24px;
	text-align: center;
}
.nb-user-center{
	color:#333;
	position: absolute;
	height: 34px;
	line-height: 34px;
	text-align: center;
	left: 80%;
}
.nb-user-dropdown-tangle-btn{
	color: #ababab;
	cursor: pointer;
	position: relative;

}
.nb-user-dropdown-menu{
	position: absolute;
	top: 40px;
	left: -200px;
	width: 220px;
	height: 300px;
	background:#fff;
	display: none;
	box-shadow: 0 0 10px #333;
	-webkit-box-shadow: 0 0 10px #333;
	-o-box-shadow: 0 0 10px #333;
	-moz-box-shadow: 0 0 10px #333;
	-ms-box-shadow: 0 0 10px #333;
}
.nb-user-dropdown-menu-tangle{
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	border-bottom: 5px solid #fff;
	top: 30px;
	left: 0px;
	z-index: 9999999;
	display: none;
}
.clear-fix{
	clear: both;
}



.main{
	height: 500px;
	width: 100%;
}
.main-container{
	height: 500px;
	width: 100%;
	position: relative;
}
.login-box{
	position: absolute;
	width: 350px;
	height: 250px;
	top: 100px;
	left: 35%;
	background:#fff;
	border-radius: 5px;
	border: 1px solid rgba(169,169,169,0.5);
}
.login-form{
	position: relative;
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.login-form-item{
	position: absolute;
	height: 35px;
	width: 300px;
	line-height: 35px;
	border-radius: 5px;
}
.email-box{
	top: 50px;
	left: 25px;
}
.pwd-box{
	top: 120px;
	left: 25px;
}
.email-box:before{
	content:"邮箱";
	position: absolute;
	height: 20px;
	width: 100%;
	top: -30px;
	font-size: 16px;
	color: #333;
	letter-spacing: 0px;
}
.pwd-box:before{
	content:"密码";
	position: absolute;
	height: 20px;
	width: 50%;
	top: -30px;
	color: #333;
	font-size: 16px;
	letter-spacing: 0px;
}
.login-form-item input{
	height: 35px;
	line-height: 20px;
	width: 290px;
	font-size: 16px;
	letter-spacing: 0px;
	border: 1px solid rgba(169,169,169,0.3);
	border-radius: 5px;
	outline: 0px;
	padding-left: 10px;
	position: relative;
}
.login-form-item input:focus{
	box-shadow: 0 0 5px #1bbcf2;
	-webkit-box-shadow: 0 0 5px #1bbcf2;
	-o-box-shadow: 0 0 5px #1bbcf2;
	-moz-box-shadow: 0 0 5px #1bbcf2;
	-ms-box-shadow: 0 0 5px #1bbcf2;

}
.error-span{
	line-height: 20px;
	position: absolute;
	font-size: 12px;
	color: red;
	letter-spacing: 0px;
}
.email-error-span{
	top: 25px;
	right: 50px;
}
.password-error-span{
	top: 95px;
	right:50px;
}
.forget-password-box{
	height: 30px;
	line-height: 30px;
	width:100px;
	position: absolute;
	top: 155px;
	right: -25px;
}
.forget-password,.forget-password:link{
	font-size: 12px;
	color: #408dd1;
	letter-spacing: 0px;
}
.forget-password:hover{
	text-decoration: underline;
	color: #408dd1;
}
.register-link-box{
	position: absolute;
	top: 155px;
	height: 30px;
	width: 100px;
	line-height: 30px;
	left: 25px;
}
.register-link,.register-link:link{
	font-size: 12px;
	color: #408dd1;
	letter-spacing: 0px;	
}
.register-link:hover{
	text-decoration: underline;
	color: #408dd1;	
}

.login-btn{
	position: absolute;
	top: 190px;
	left: 25px;
	height: 40px;
	width: 300px;
	line-height: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #6cc644;
    background-image: -webkit-linear-gradient(#7bcc58, #60b838);
    background-image: -moz-linear-gradient(#7bcc58, #60b838);
    background-image: -o-linear-gradient(#7bcc58, #60b838);
    background-image: -ms-linear-gradient(#7bcc58, #60b838);
    background-image: linear-gradient(#7bcc58, #60b838);
    border-color: #55a532;
}
.login-btn:hover{
	color: #fff;
    background-color: #60b838;
    background-image: -webkit-linear-gradient(#6cc644, #55a532);
    background-image: -moz-linear-gradient(#6cc644, #55a532);
    background-image: -o-linear-gradient(#6cc644, #55a532);
    background-image: -ms-linear-gradient(#6cc644, #55a532);
    background-image: linear-gradient(#6cc644, #55a532);
    border-color: #4b912c;
}


.all-input:focus{
	box-shadow: 0 0 5px #1bbcf2;
	-webkit-box-shadow: 0 0 5px #1bbcf2;
	-moz-box-shadow: 0 0 5px #1bbcf2;
	-o-box-shadow: 0 0 5px #1bbcf2;
	-ms-box-shadow: 0 0 5px #1bbcf2;
}

.footer{
	height: 100px;
	width: 100%;
}
.footer-container{
	height: 100px;
	width: 100%;
	border-top: 1px solid #e1e1e1;
	position: relative;
}

.footer-content{
	position: absolute;
	top: 40px;
	left: 20%;
}
.copyright{
	font-size: 12px;
	color: #8b8b8b;
	letter-spacing: 0px;
	display: inline-block;
}
.footer-item,.footer-item:link{
	display: inline-block;
	text-decoration: none;
	padding-left: 10px;
	letter-spacing: 0px;
	/*color: #215cb5;*/
	color:#408dd1;
	font-size: 12px;
	cursor: pointer;
}
.footer-item:hover{
	/*color: #215cb5;*/
	color:#408dd1;
	text-decoration: underline;
}
