<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./static/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./static/css/article-show.css?version=3.0">
<link rel="stylesheet" type="text/css" href="./static/css/buttons.css">
<link rel="stylesheet" type="text/css" href="./player/styles.css">
</head>
<body>
	<div class="header">
		<div class="navigator-bar">
			<div class="navigator-bar-container">
				<span class="nb-title"><a href="index.html" >Whoami's Blog</a></span>
				    <div class="nb-user-center">
					        <a class="nb-user-btn" href="#"><i class="icon-user icon-large"></i></a>
					        <a class="nb-user-dropdown" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
					        
   				 </div>
		   </div>
		</div>
	</div>
	<div class="main">
			<div class="main-container">
				<div class="left-content-container article-content-container">
						<div class="article-content-container">
							<div class="article-content">
								 为什么《从0到1》会火的一塌糊涂？
											这本书的内容很多其它书都有 ，而且我拙劣的认为这本书只是归纳总结了很多‘正确的废话’，那么这本书为啥能让如此多牛逼机构牛逼大神推荐，让心神创业的骚年们不断高潮呢？
											2 条评论
											按投票排序
											按时间排序
											18 个回答
											知乎用户，苦逼的产品设计和运营佬
											知乎用户、南鹏、Syan 等人赞同
											看不懂的是小白，觉得作用不大的还处于给别人打工的状态，感觉通透的都是对趋势有感觉的，觉得内容中讲历史金融哲学多余的都是生意人还不是企业家。
											发布于 2015-05-14 2 条评论 感谢
											收藏 • 没有帮助 •
											• 作者保留权利
											徐文瑞，计蒜客 / 产品经理 / 天蝎座的 INTJ
											李少鹏、西西豆豆、知乎用户 等人赞同
											作者都快被捧成神了，他的书会火也是正常的。
											前几天读完了这本书，除了一小部分内容有点看不太懂之外，大部分地方还是有所感悟的，不过这个感悟并不是解决了我的什么困惑，而是印证了我的想法。从这种角度来看，说这本书总结了很多「正确的废话」也不为过。
											当然我还是觉得这本书并不值得拥有现在如此之高的赞誉，或许是我个人境界不够吧。不过一本书中能有一句话让你有所受益，至少就已经值回票价了。
											发布于 2015-03-22 添加评论 感谢
											收藏 • 没有帮助 •
											• 作者保留权利
											吴锴，财富偏好勇者
											比特学徒、FreeHippoPotamus、lewis 等人赞同
											很多人觉得这本书写得很空洞，其实这不是作者的问题，是读者的问题。

											就像我之前看另外一本名作《创业维艰》，我一开始也觉得很空洞，直到我在创业公司作为核心成员做了半年多。我看这本书，就有非常深的共鸣了。

											所以，《从0到1》，可以留着，好书不急着一下看懂。等你真正有过类似从0到1的经验，再回来读这本书，想必体会一定不一样。

											PS：目前对这本书好评较多的，都是一些已经成功了的创业者，他们真正经历了这个过程。所以，共鸣很多。
											编辑于 2015-11-19 1 条评论 感谢
											收藏 • 没有帮助 •
											• 作者保留权利
											知乎用户，著名脑洞/资深AR/VR熟练工/微信号unity3ds
											黄浩如、钟荣、小燕 等人赞同
											我觉得这本书伟大是给创业者在创业格局上提供了革命性指导。现在才看个开始，作为一名技术型创业者这本书让我看到自己在因为资本不足去运作一家公司的胆怯。我们不去做原子层面的创新不是因为我们技术和创造力不足，而是我们现在太穷了以及物理世界运营能力不足。不是怕承担风险而是很多时候我们根本没有资源去对物理世界进行改进。这么多年创业，把自己和团队逼进了虚拟世界，在这里我们只需要一台电脑，甚至极端条件下我们依赖几包泡面就可以造出牛逼的应用。我们在虚拟世界毫无阻力。但是，这是我们初心吗？我们逼着向钱看，无奈但是没错。有些创意我们确实不能等，但现实却充满阻力，创业者干的是什么？我本人曾经说过，另可在创新的道路上成为炮灰，也不要做一名山寨他人的创业者。这个想法让我和曾经团队吃尽苦头。而现实我差一点放弃这个想法，因为来之他人的质疑我们还是要面对的。比如，最近一个投资方的小弟说我们，你们的创意在全球范围内没有可以参考的案例，如何证明你们会成功？听到这我还是无比的郁闷，对！我曾经做过一款电灯，往家一装就可以通过手机连接电灯控制家里电器，这个创意比nest早。但是这个产品失败了，那是因为我们在资本不足的情况下玩了硬件。算是第一次跟风。因为在这之前我们是做虚拟现实的。妈蛋！虚拟现实这么屌我们居然跟风做智能硬件。那个时候团队还在做大型无人工厂的可视化监测，就是用虚拟现实展现数据。当初玩了一把物理世界的全球唯一，失败了！小米做一定成，今天的我必然不成这是基因问题。我们迅速切回自己的领域，吸取教训，第一次从0到1是基因问题。去年开始我们重新从0到1，这一次我们太熟悉了，基因满满。
											看完接着写......
											发布于 2015-12-03 2 条评论 感谢
											收藏 • 没有帮助 •
											• 作者保留权利
											南鹏，风险需要补偿
											桑兰迪 赞同
											一般来说，人的思维和看问题的方式是无法超越自己的阶级和行业的。但是，这本书给了阅读者一个超越自己阶级看问题的视角，就像《星际穿越》中，高维生命指引人类从高维空间看问题的感觉。说这本书空洞，要么是涉世未深，要么是缺少将思想与现实相结合的能力。有人说这本书很火，是因为迪尔的名望，这点我是不赞同的。他的名望只会让你愿意阅读这本书，而不会使你乐于讨论和分享。我们看的名人写的烂书，还少吗？即使作者不是迪尔，如果你有幸偶然看到这本书，你也会被其中的内容所吸引的。
											发布于 2016-01-31 添加评论 感谢
											收藏 • 没有帮助 • • 作者保留权利
											井方哥，我只坚持一件事情，那就是坚持奋斗
											张亚州 赞同
											从0到1，是义无反顾地坚持对未知世界的探索 ——读《从0到1》前言

											这一周相对而言，总是有些事情让自己忙的很晚，书也没有好好看啦，上一周看的《从0到1》，本约定要写一篇博客，但是也拖到了现在。写完《读我的互联网方法论》，后边发表到博客，当自己再次阅读的时候，才发现，是写的那么啰嗦，以至于自己也没有耐心仔细看完。所以，这一篇，一定要简洁有效。拜读了PayPal创始人彼得·蒂尔、布莱克·马斯特斯的《从0到1》，书中写到了当前最新的"社会"规律。如果问自己，从这本书中收获了多少，仔细想想，我真应该再次安排时间来阅读这本书，有太多的“干活”需要我细细咀嚼。
											垄断

											本书中提到的垄断，让我对“垄断”二字有了更新的认识。一直觉得垄断，就比如中国移动、电信等是垄断企业，他们垄断了整个通讯，我们用户必须听他的，每月给交月租，即使缴费。但是，“垄断”的含义，远远不止如此。**每一个成功的企业，都是一个“垄断”的企业。**就如，腾讯，他垄断了“社交”，淘宝、京东垄断了“电商”，百度垄断了“搜索”，360垄断了“安全”，这些是新兴的互联网企业。对于传统的企业，就不构成垄断了吗？当然不是，“王老吉”、“加多宝”垄断了凉茶饮料，农夫山泉垄断了矿泉水等等。如此看来，如果一个企业，不足以垄断一个市场，他一定过得不好。那又是如何让一个企业构成“垄断”的呢？
											与众不同

											如果你所做的事情，是一件前无古人，后无来者的事情，一定有人笑你傻，有人说你狂。但是，这些说你的人真的对你很重要吗？但是，我们通常会因为这些无关的评论来影响自己的情绪，自己的思考，甚至自己的决定。所以，我们给大多数的成功的人都给了一个词来形容，那就是“固执”。扪心自问，我是一个固执的人吗？想想这些年，我坚持过什么吗？为什么会放弃自己的想法，听从他人的决定，或者接受他人友好的“建议”？我想，这应该源于人性中最臭的特征，“虚荣心”、“恐惧”、“自卑”，还有一点，那就是如果我们坚持一些东西，往往会让我们失去许多可见的利益。因为这些，我们选择从众，这样就会让自己变的足够“安全”。
											秘密

											一个企业，能够生存。一定是掌握了人们没有雨
							</div>
						</div>
				</div>
				<div class="middle-content-container scroll-bar-container">
					<div class="arrow up-arrow"><i class="icon-chevron-up"></i></div>
					<div class="arrow recorder"><i class="icon-reorder"></i></div>
					<div class="arrow down-arrow"><i class="icon-chevron-down"></i></div>
				</div>
				<div class="right-content-container ">
					
					<div class="comment-container">
						<div class="article-info-container">
								<span class="article-info-item category">分类:Linux</span>
								<span class="article-info-item post-date">发表:2016/03/12</span>
								<span class="article-info-item check-num">阅读(20)</span>
						</div>
						<div class="related-article-container">
								<span class="related-article-header"><i class="icon-file-alt"></i>相关文章</span>
								<ul class="related-article-list">
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
									<li><a class="related-article-list-item"href="">Linux Container</a><span class="related-article-read-num"><i class="icon-star"></i>(12)</span></li>
								</ul>
						</div>
						<span href="#" class="comment-btn button button-block button-rounded button-primary button-small"><i class="icon-comment"></i>发表评论</span>
						<div class="old-comment-container">
							<div class="old-comment-count-box">
								<span class="old-comment-count"><i class="icon-comments"></i>历史评论(12)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="music-player-container">
						<div id="myAudio"  class="music-player" style="margin:0px 0px">

					    </div>
	</div>
</body>
<script type="text/javascript" src="./static/js/jquery.min.js">
</script>
<script type="text/javascript" src="./static/js/navigator.js"></script>
<script type="text/javascript" src="./player/AudioPlayer.js"></script>
<script type="text/javascript" src="./static/js/article-show.js"></script>
</html>