<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./article-show.css?version=3.0">
<link rel="stylesheet" type="text/css" href="./buttons.css">
<link rel="stylesheet" type="text/css" href="./player/styles.css">
</head>
<body>
	<div class="header">
		<div class="navigator-bar">
			<div class="navigator-bar-container">
				<span class="nb-title"><a href="index.html" >Whoami's Blog</a></span>
				    <div class="nb-user-center">
					        <a class="nb-user-btn" href="#"><i class="icon-user icon-large"></i></a>
					        <a class="nb-user-dropdown" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
					        
   				 </div>
		   </div>
		</div>
	</div>
	<div class="main">
			<div class="main-container">
				<div class="left-content-container article-content-container">
						<div class="article-content">
							
						</div>
				</div>
				<div class="right-content-container ">
				</div>
			</div>
	</div>

</body>
<script type="text/javascript" src="./jquery.min.js">
</script>
<script type="text/javascript" src="./navigator.js"></script>
<script type="text/javascript" src="./player/AudioPlayer.js"></script>
</html>