<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./signin.css?version=3.0">
<link rel="stylesheet" type="text/css" href="./buttons.css">
</head>
<body>
	<div class="header">
		<div class="navigator-bar">
			<div class="navigator-bar-container">
				<span class="nb-title"><a  href="index.html">Whoami's Blog</a></span>
				    <div class="nb-user-center">
					        <a class="nb-user-btn" href="#"><i class="icon-user icon-large"></i></a>
					        <a class="nb-user-dropdown" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
   				 </div>
		   </div>
		</div>
	</div>
	<div class="main">
		<div class="login-main-container" style="display:none">
				<div class="login-panel" >
					<form class="login-form" method="post" action="index.html">
						<div class="email-box input-box"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" class="all-input email-input" name="email"></div>
						<div class="pwd-box input-box"><span class="add-on"><i class="icon-key"></i></span><input type="password"  class="all-input pwd-input" name="password"></div>
						<div class="login-btn-box">
							<a class="login-btn button button-block button-rounded button-middle button-primary"><span class="login-icon"><i class="icon-signin"></i></span>登录</a>
						</div>
					</form>
				</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-container">
			<div class="footer-content">
				<span class="copyright">&copy;2015-2016,By Whoami.</span>
				<a class="footer-item" href="https://twitter.com"><i class="icon-twitter"></i>Twitter</a>
				<a class="footer-item" href="https://www.facebook.com"><i class="icon-facebook" ></i>facebook</a>
				<a class="footer-item" href="https://www.facebook.com"><i class="icon-github" href="https://github.com/free-free"></i>Github</a>
				<a class="footer-item" href="https://www.facebook.com"><i class="icon-spinner" href="https://weibo.com"></i>Weibo</a>
				<a class="footer-item" href="mailto:19941222hb@gmail.com"><i class="icon-envelope"></i>Mail</a>
			</div>
		</div>
	</div>	
	
</body>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
</script>
<script type="text/javascript" src="navigator.js"></script>
<script type="text/javascript" src='signin.js'></script>
</html>